# Include the basics
include LICENSE
include README.md
include setup.py
include setup.cfg

# Include templates, static templates, and native compiler sources.
recursive-include create_app/common *
recursive-include compiler *.c *.h
recursive-include scripts *.py *.sh

# Exclude all Python cache and compiled files
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude *.dll
global-exclude *.dylib
global-exclude *.exe
global-exclude .DS_Store
global-exclude .env
